{
  "plugins": ["prettier-plugin-jinja-template"],
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["*.njk"],
      "options": {
        "parser": "jinja-template"
      }
    }
  ]
}
