{%- set titleText = metadata.siteTitle %}
{%- if title and page.url != '/' %}{%- set titleText = title + ' | ' + titleText %}{%- endif -%}

<!doctype html>
<html lang="{{ metadata.lang }}" class="no-js">
  <head>
    <meta charset="{{ metadata.encoding }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="format-detection" content="telephone=no" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description or metadata.description or '' }}" />
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:type" content="{{ ogType or 'article' }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description or metadata.description or '' }}" />
    <meta
      property="og:url"
      content="{{ metadata.siteUrl | urlJoin(canonical or page.url or  '/') }}"
    />
    <meta property="og:site_name" content="{{ metadata.site_name }}" />
    {% if metadata.siteUrl -%}
      <meta
        property="og:image"
        content="{{ metadata.siteUrl | urlJoin(ogImage or metadata.ogImage or assets.themeURL + '/static/meta/ogp.png') }}"
      />
    {%- endif %}
    <meta name="twitter:card" content="summary_large_image" />
    {% if metadata.twitterSite -%}
      <meta name="twitter:site" content="{{ metadata.twitterSite or '' }}" />
    {%- endif -%}
    <link rel="canonical" href="{{ metadata.siteUrl | urlJoin( canonical or page.url or '/' ) }}" />
    {%- if metadata.webFonts -%}
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    {%- endif -%}
    {%- for fontUrl in metadata.webFonts %}
      <link rel="stylesheet" href="{{ fontUrl | safe }}" />
    {%- endfor %}
    <link rel="stylesheet" href="/src/main.css" />
    <script type="module" src="/src/main.ts"></script>
  </head>

  <body>
    {% include "header.njk" %}

    <main>{{ content | safe }}</main>

    {% include "footer.njk" %}
  </body>
</html>
